In [1]:
import pandas as pd
data = pd.read_csv('Data/annotation_raw.csv')
data

     Unnamed: 0           image_name        city  year
0             0       1_original.jpg  Birmingham  1914
1             1       2_original.jpg  Birmingham  1917
2             2       3_original.jpg  Birmingham  1901
3             3       4_original.jpg   Sheffield  1901
4             4       5_original.jpg  Birmingham  1904
..          ...                  ...         ...   ...
567         567  N95_95_original.jpg     Chester  1902
568         568  N96_96_original.jpg      London  1898
569         569  N97_97_original.jpg      London  1901
570         570  N98_98_original.jpg      London  1889
571         571  N99_99_original.jpg      London  1887

[572 rows x 4 columns]

In [2]:
data['city'].value_counts()

London        259
Birmingham    168
Sheffield     103
Chester        16
Edinburgh       9
Glasgow         6
Dublin          3
Newcastle       3
LOndon          2
Exeter          1
1901            1
LONDON          1
Name: city, dtype: int64

In [5]:
data['city'] = data['city'].map(lambda x: x.lower())
data['city'].value_counts()

london        262
birmingham    168
sheffield     103
chester        16
edinburgh       9
glasgow         6
dublin          3
newcastle       3
1901            1
exeter          1
Name: city, dtype: int64

In [6]:
data['year'].value_counts()

1932:    21
1901     12
1905     10
1909     10
1921     10
         ..
1868      1
1871      1
1939      1
1969      1
1775      1
Name: year, Length: 240, dtype: int64

In [7]:
data['year'] = data['year'].map(lambda x: x.strip(':,. '))
data['year'].value_counts()

1932    23
1901    15
1909    13
1904    12
1902    12
        ..
1871     1
1854     1
1818     1
1868     1
1891     1
Name: year, Length: 176, dtype: int64

In [8]:
data['year'].unique()

array(['1914', '1917', '1901', '1904', '1921', '1903', '1905', '1902',
       '2000', '1994', '1985', '2002', '1923', '1990', '1970', '1978',
       '1945', '1909', '1971', '1938', '1991', '2017', '2001', '1972',
       '1982', '1973', '1969', '1950', '1935', '1932', '1953', '1979',
       '1975', '1912', '1913', '1920', '1899', '1900', '1910', '1895',
       '2020', '1898', '1896', '1924', '1931', '1892', '1838', '1906',
       '1824', '1890', '1818', '1741', '1934', '1817', '1929', '1961',
       '1853', '1936', '1907', '1823', '1922', '1986', '1812', '1805',
       '1976', '1955', '1968', '1825', '1919', '1930', '1941', '1928',
       '1829', '1963', '1927', '1820', '1891', '1988', '1981', '2005',
       '1952', '1926', '1916', '1977', '1908', '1788', '1918', 'London',
       '1874', '1828', '1870', '1949', '1940', '1957', '1814', '1925',
       '1939', '1911', '1792', '1854', '1836', '1989', '1827', '1849',
       '1808', '1885', '1834', '1897', '1841', '1915', '1948', '1958',
       '1865', '1960', '1889', '1798', '1894', '1864', '1882', '1839',
       '1861', '1876', '1794', '1967', '1802', '1879', '1888', '1964',
       '1844', '1860', '1866', '1799', '1821', '1858', '1883', '1886',
       '1966', '1816', '1937', '1852', '1893', '1877', '1790', '1813',
       '1847', '1789', '1806', '1791', '1811', '1730', '1800', '1787',
       '1797', '1795', '1780', '1837', '1785', '1801', '1803', '1868',
       '1804', '1942', '1819', '1933', '1873', '1871', '1754', '1869',
       '1850', '1784', '1872', '1765', '1772', '1776', '1775', '1887'],
      dtype=object)

In [13]:
data[data['year'].map(lambda x: not x.isnumeric())]

     Unnamed: 0        image_name  city    year
181         181  182_original.jpg  1901  London

In [28]:
data['city'].replace({'1901': 'london'})
data['year'].replace({'london': '1901'})
data.loc[181]

Unnamed: 0                 181
image_name    182_original.jpg
city                    london
year                      1901
Name: 181, dtype: object

In [37]:
data.to_csv(r'Data/annotation.csv')

In [ ]:
should_get_same_class = True
row_anchor = {}
sub_dataset = data[data['target'] == row_anchor['target']] if should_get_same_class else data[data['target'] == row_anchor['target']]