 # Initial data preprocessing
 ## Clear mistakes in data

In [3]:
import pandas as pd
data = pd.read_csv('../Data/annotation_raw.csv')
data

     Unnamed: 0           image_name        city  year
0             0       1_original.jpg  Birmingham  1914
1             1       2_original.jpg  Birmingham  1917
2             2       3_original.jpg  Birmingham  1901
3             3       4_original.jpg   Sheffield  1901
4             4       5_original.jpg  Birmingham  1904
..          ...                  ...         ...   ...
567         567  N95_95_original.jpg     Chester  1902
568         568  N96_96_original.jpg      London  1898
569         569  N97_97_original.jpg      London  1901
570         570  N98_98_original.jpg      London  1889
571         571  N99_99_original.jpg      London  1887

[572 rows x 4 columns]

In [ ]:
data['city'].value_counts()

In [ ]:
data['city'] = data['city'].map(lambda x: x.lower())
data['city'].value_counts()

In [ ]:
data['year'].value_counts()

In [ ]:
data['year'] = data['year'].map(lambda x: x.strip(':,. '))
data['year'].value_counts()

In [ ]:
data['year'].unique()

In [ ]:
data[data['year'].map(lambda x: not x.isnumeric())]

In [ ]:
data['city'].replace({'1901': 'london'})
data['year'].replace({'london': '1901'})
data.loc[181]

In [ ]:
data.to_csv(r'Data/annotation.csv')

In [ ]:
should_get_same_class = True
row_anchor = {}
sub_dataset = data[data['target'] == row_anchor['target']] if should_get_same_class else data[data['target'] == row_anchor['target']]

# Preprocessing bounding box annotation

In [57]:
data_frame = pd.read_csv('../Data/bounding_boxes_viavgg.csv')
data_frame = data_frame[['filename', 'region_shape_attributes']]
data_frame.columns = ['ImageName', 'bbox']
data_frame

                 ImageName                                               bbox
0           1_original.jpg  {"name":"rect","x":1123,"y":775,"width":134,"h...
1           2_original.jpg  {"name":"rect","x":520,"y":414,"width":564,"he...
2           3_original.jpg  {"name":"rect","x":442,"y":236,"width":370,"he...
3           4_original.jpg  {"name":"rect","x":517,"y":411,"width":404,"he...
4           5_original.jpg  {"name":"rect","x":340,"y":227,"width":470,"he...
..                     ...                                                ...
600  N286_286_original.jpg  {"name":"rect","x":25,"y":161,"width":414,"hei...
601  N287_287_original.jpg  {"name":"rect","x":30,"y":178,"width":416,"hei...
602  N288_288_original.jpg  {"name":"rect","x":54,"y":178,"width":395,"hei...
603  N289_289_original.jpg  {"name":"rect","x":23,"y":142,"width":430,"hei...
604  N290_290_original.jpg  {"name":"rect","x":114,"y":160,"width":302,"he...

[605 rows x 2 columns]

In [58]:
import ast
data_frame['left_x'] = data_frame['bbox'].apply(lambda x: ast.literal_eval(x).get('x'))
data_frame['top_y'] = data_frame['bbox'].apply(lambda x: ast.literal_eval(x).get('y'))
data_frame['bbox_width'] = data_frame['bbox'].apply(lambda x: ast.literal_eval(x).get('width'))
data_frame['bbox_height'] = data_frame['bbox'].apply(lambda x: ast.literal_eval(x).get('height'))

In [59]:
data_frame.to_csv('../Data/bounding_boxes.csv')

# Split data into a train and test

In [63]:
from sklearn.model_selection import train_test_split

data_frame = pd.read_csv('../Data/Classification/city_year.csv')

data_frame_train, data_frame_val = train_test_split(data_frame, test_size=0.25, random_state=1)
data_frame_train.to_csv('../Data/city_year_train.csv')
data_frame_val.to_csv('../Data/city_year_val.csv')